################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*VC*db
ipch
x64
graph.txt
Win32
.vs

/test/graph.svg
